body {
    margin: 0;
}

#grid > div {
    align-items: center;
    display: flex;
    font-family: sans-serif;
    font-size: 400%;
    justify-content: center;
}

#grid > div::before {
    content: attr(id);
}

#grid {
    display: grid;
    height: 100vh;
}

@media (orientation: landscape) {
    #grid {
        grid-template-areas:
            "title board"
            "score board"
            "controls controls";
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(3, 1fr);
    }
}

@media (orientation: portrait) {
    #grid {
        grid-template-areas:
            "title score"
            "board board"
            "controls controls";
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 2fr 1fr;
    }
}

#title {
    background-color: gold;
    grid-area: title;
}

#score {
    background-color: coral;
    grid-area: score;
}

#board {
    background-color: lavender;
    grid-area: board;
}

#controls {
    background-color: limegreen;
    grid-area: controls;
}