body {
    margin: 0;
}

#grid {
    display: grid;
    height: 100vh;
}

#grid > div {
    align-items: center;
    background-color: aliceblue;
    border: thin solid indigo;
    display: flex;
    font-size: 400%;
    justify-content: center;
}

/* Extra small devices: */

/* Small devices: */
@media (min-width: 576px) {
    #grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

/* Medium or larger devices: */
@media (min-width: 768px) {
    #grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}